<!DOCTYPE html>
<html lang="en">

<% if current_user %>
  <body>
    <div class="container">
      <h2 class="games-index">User Profile</h2>
      <table class="table">
          <thead>
            <tr>
              <th class="row-header">First Name</th>
              <th class="row-header">Last Name</th>
              <th class="row-header">Username</th>
              <th class="row-header">Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.first_name %></td>
              <td><%= current_user.last_name %></td>
              <td><%= current_user.username %></td>
              <td><%= current_user.email %></td>
              <td><a href="/users/<%= current_user.id %>/edit">EDIT</a></td>
          </tbody>
      </table>
    </div>
  </body>
<% end %>

      
      