<!DOCTYPE html>
<html lang="en">

<% if current_user %>
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2 class="games-index">User Profile</h2>
      <table class="table">
          <thead>
            <tr>
              <th class="row-header">First Name</th>
              <th class="row-header">Last Name</th>
              <th class="row-header">Username</th>
              <th class="row-header">Email</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= current_user.first_name %></td>
              <td><%= current_user.last_name %></td>
              <td><%= current_user.username %></td>
              <td><%= current_user.email %></td>
              <td><a href="/users/<%= current_user.id %>/edit">EDIT</a></td>
          </tbody>
      </table>
    </div>
  </body>
<% end %>

      
      