<h2>Start a New Game</h2>

<%= form_tag '/games/new', method: :post do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :schedule %>
    <%= text_field_tag :schedule %>
  </div>

  <div>
    <%= label_tag :bet_amount %>
    <%= text_field_tag :bet_amount %>
  </div>


  <%= submit_tag 'Start Game' %>

<% end %>