
<div class="container">
  <div class="form-box">
    <div class="form-header">
      <h2>Start a New Game</h2>
    </div>
    <div class="form-body">
      <%= form_tag '/games/new', method: :post do %>
        <div class="form-group">
          <label>Game (Team vs Team)</label>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Team vs Team" %>
        </div>
        <div class="form-group">
          <label>Start Time</label>
          <div class="input-group date" id="datetimepicker1">
            <%= text_field_tag :start_time, nil, class: "form-control", placeholder: "" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label>Bet Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= text_field_tag :bet_amount, nil, class: "form-control", placeholder: "0.00" %>
          </div>
        </div>
        <%= submit_tag 'Start Game', class: "btn btn-primary new_game_button" %>
      <% end %>
    </div>
  </div>
</div>





<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>

