<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:5px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-qj3h{font-size:36px;text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>


<h2 class="active"><%= @game.name %></h2>
<h2 class="active"><%= @game.schedule %></h2>
<h2 class="active">Bet:   <%= @game.bet_amount %></h2>
<h2 class="active">Pot:   <%= @pot %></h2>
<h2 class="active">Banker:   <%= @game.banker_id %></h2>
<% if current_user%>
  <h2 class="active">Total Balance: <%= @total_balance%></h2>
<% end %>

<%= form_tag '/bets/batch', method: :post do %>

  <table class="tg">
    <% @rows.each do |row| %>
      <tr>
        <% row.each do |combo| %>
          <% if !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id == current_user.id }.empty? %>
          <!-- shows only logged in user's bets -->
            <td class="tg-qj3h"><%= check_box_tag combo.id, true, true %><%= combo.pick %></td>
          <% elsif !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id != current_user.id }.empty? %> 
            <td class="tg-qj3h"><%= check_box_tag combo.id, true, true, disabled: true %><%= combo.pick %></td>
          <% else %>
            <td class="tg-qj3h"><%= check_box_tag combo.id, true %><%= combo.pick %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= hidden_field_tag :game_id, @game.id %>

  <%= submit_tag 'Commit' %>
<% end %>
<% if @winning_user && @winning_combo %>
  <h1> Winning Combo: <%= @winning_combo %></h1>
  <h1> User ID: <%= @winning_user.id %> WON!</h1>
<% end %>

