

<div class="game-info-div">
  <table class="game-info">
    <th>Game ID: <%= @game.id %></th>
    <th><%= @game.name %></th>
    <% if @game.completed %>
      <th>Final Score: <%= @game.winning_score.to_s + "-" + @game.losing_score.to_s %></th>
    <% end %>
    <% if !@game.completed %>
      <th>Start Time:   <%= @game.start_time.strftime("%b %e, %l:%M %p") %></th>
    <% end %>
    <th>Bet:  $<%= number_with_precision(@game.bet_amount, :precision => 2)%></th>
    <th>Pot:  $<%= number_with_precision(@pot, :precision => 2) %></th>
    <th>Banker:  <%= @game.banker %></th>

    <% if @game_started && !@game.completed %>
      <th><a href="/games/<%= @game.id %>/score_input_form">Update Score</a></th>
    <% end %>
  </table>
</div>


<div class='text-center animated bounceIn' id='winner-banner'>
  <% if @winning_user && @game.completed %>

    <%= @winning_user.username %> won $<%= number_with_precision(@pot, :precision => 2)%>

  <% elsif @game.completed %>

    <%= @game.banker %> won $<%= number_with_precision(@pot + @tip + @pool, :precision => 2)%>!

  <% end %>
</div>

<!-- If the game hasn't started, then we show the betting table -->
<% if !@game_started %>

  <%= form_tag '/bets/batch', method: :post do %>
    <table class="tg">
      <% @rows.each do |row| %>
        <tr>
          <% row.each do |combo| %>
            <% if !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id == current_user.id }.empty? %>
            <!-- shows only logged in user's bets -->
              <td class="tg-qj3h">
                <span class="button-checkbox">
                  <button type="button" class="btn btn-primary current-user-buttons" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <%= check_box_tag combo.id, true, true, disabled: true, :style => 'display:none' %>
                </span>
              </td>
            <% elsif !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id != current_user.id }.empty? %> 
              <td class="tg-qj3h">
                <span class="button-checkbox">
                  <button type="button" class="btn btn-primary other-user-buttons" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <%= check_box_tag combo.id, true, true, disabled: true,:style => 'display:none' %>
                </span>
              </td>
            <% else %>
              <td class="tg-qj3h">
                <span class="button-checkbox">
                <!-- The ones not selected -->
                  <button type="button" class="btn games-button" data-color="primary"><%= combo.pick %></button>
                  <%= check_box_tag combo.id, true, false, :style => 'display:none' %>
                </span>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
    <%= hidden_field_tag :game_id, @game.id %>
    <%= submit_tag 'Commit', :class => 'btn btn-primary games-commit-button', :id => 'commit' %>
  <% end %>

<!-- If the game has started, then everything is disabled -->
<% else %>

    <table class="tg">
      <% @rows.each do |row| %>
        <tr>
          <% row.each do |combo| %>
            <% if !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id == current_user.id }.empty? %>
            <!-- shows only logged in user's bets -->
              <td class="tg-qj3h">
                <span class="button-checkbox">
                  <% if combo.id == @winning_combo_id %>
                    <button type="button" class="btn btn-primary current-user-buttons winning-combo" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% else %>
                    <button type="button" class="btn btn-primary current-user-buttons" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% end %>

                  <%= check_box_tag combo.id, true, true, disabled: true, :style => 'display:none' %>
                </span>
              </td>
            <% elsif !@bets.select { |bet| bet.combo_id == combo.id && bet.better_id != current_user.id }.empty? %> 
              <td class="tg-qj3h">
                <span class="button-checkbox">
                  <% if combo.id == @winning_combo_id %>
                    <button type="button" class="btn btn-primary other-user-buttons winning-combo" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% else %>
                    <button type="button" class="btn btn-primary other-user-buttons" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% end %>

                  <%= check_box_tag combo.id, true, true, disabled: true,:style => 'display:none' %>
                </span>
              </td>
            <% else %>
              <td class="tg-qj3h">
                <span class="button-checkbox">
                <!-- The ones not selected -->
                  <% if combo.id == @winning_combo_id %>
                    <button type="button" class="btn games-button winning-combo" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% else %>
                    <button type="button" class="btn games-button" data-color="primary" disabled="true"><%= combo.pick %></button>
                  <% end %>

                  <%= check_box_tag combo.id, true, false, :style => 'display:none' %>
                </span>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>

<% end %>


<script type="text/javascript">
  

$(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    // icon: 'glyphicon glyphicon-check'
                },
                off: {
                    // icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            // $button.find('.state-icon')
            //     .removeClass()
            //     .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // // Inject the icon if applicable
            // if ($button.find('.state-icon').length == 0) {
            //     $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
            // }
        }
        init();
    });
});


</script>

